<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests" thread-count="4">


	<!-- This is to run the test in firefox browser. We can set the IP of the 
		Node machine as : "<parameter name="node" value="http://<Node machine IP>/wd/hub" 
		/>". If the node machine and the host machine is same, we may give command 
		as : <parameter name="node" value="http://localhost/wd/hub" /> -->
	<tests>
		<test name="FirefoxHub" preserve-order="true" parallel="classes"
			thread-count="4">
			<parameter name="node" value="http://10.2.0.93:5555/wd/hub" />
			<classes>
				<class name="com.selenium.googlesearch.GoogleSearch" />
			</classes>
		</test>
		<test name="FirefoxNode" preserve-order="true" parallel="classes"
			thread-count="4">
			<parameter name="browser" value="firefox" />
			<parameter name="node" value="http://10.2.1.85:5555/wd/hub" />
			<classes>
				<class name="com.selenium.googlesearch.GoogleSearch" />
			</classes>
		</test>
	</tests>
</suite>